.myCard {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  padding: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo-container {
  width: 100%;
  height: 160px;

  border-radius: 3px;
  padding: 1rem;
}
.img-logo {
  width: 100%;
  height: auto;
}
.org-details p {
  margin: 0.3rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#92bca6, #92bca6);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.content > mat-card {
  width: 200px;
}

h3,
h4,
p {
  font-family: Roboto, Arial, sans-serif;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.dropzone {
  height: 200px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
}

input[type="file"] {
  display: none;
}

.textLink {
  background-color: lightgray;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textLink::before {
  content: "\f093";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: black;
  font-size: large;
  margin-right: 10px;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.fileItem {
  width: calc(25% - 6px);
  overflow: hidden;
  height: fit-content;
  margin: 3px;
  padding: 10px;
  display: block;
  position: relative;
  float: left;
  border: 2px dashed #778899;
  border-radius: 5px;
  transition: 0.3s ease;
}
.fileItem:hover {
  border: 2px solid #c33838;
  background-color: #c33838bf;
}
.fileItem:hover .fileItemIcon::before {
  content: "\f00d";
  color: whitesmoke;
}
.fileItem:hover .fileItemText {
  color: whitesmoke;
}
.fileItemIconDiv {
  text-align: center;
}
.fileItemIcon::before {
  font-style: normal;
  content: "\f15b";
  color: #778899;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.fileItemText {
  text-align: center;
  margin-top: 10px;
  height: 40px;
}

.desc {
  width: 85%;
  align-self: center;
  align-items: center;
  float: inherit;
}

.uploadfilecard {
  padding: 20px;
  margin: 20px;
  background-color: darkgray;
}
